@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Playfair+Display&family=Poppins:wght@300&display=swap');
.service{
    padding: 40px 40px;
    background: linear-gradient(180deg, #0B2952 0%, #2A548E 100%);
}
.services{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.heading{
    padding-left: 25px;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.highlighted-text{
    color: #ED1B24;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
.introduction{
    padding-left: 25px;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}
.desc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: -25px;
}
.box{
    display: flex;
    margin: 20px 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    width: 410px;
    height: 500px;
    border-radius: 0px 60px;
    background: #FFF;
    box-shadow: 5px 5px 25px 6px rgba(238, 238, 238, 0.23);
}
.boxintro{
    text-align: left;
    color: #002A54;
    font-family: 'Poppins',sans-serif;
    font-size: 26px;
    font-weight: bolder;
    text-transform: capitalize;
}
.boxdesc{
    text-align: left;
    color: #002A54;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 60px;
    margin-top: 40px;
}
.boximg{
    margin-top: 40px;
}
.svg{
    margin-left: auto;
}
